body {
    margin-top: 15px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
}

#titulo {
	width: 100%;
	height: 13%;
	text-align: center;
	background-color: blue;
}

#central {
	width: 100%;
	height: 76%;
}

#rodape {
	width: 100%;
	height: 5%;
	text-align: center;
	background-color: blue;
}


#central .col1, #central .col2 {
	float: left;
}

#central .col1 {
	width: 20%;
	height: 100%;
	background-color: yellow;
}

#central .col2 {
	width: 80%;
	height: 100%;
}

#central .col2 .row1 {
 	width: 100%;
 	height: 8%;
	background-color: green;
}

#central .col2 .row2 {
 	width: 100%;
 	height: 8%;
	background-color: green;
}

#central .col2 .row3 {
 	width: 100%;
 	height: 79%;
	overflow-y: scroll;
	background-color: grey;
}
