<!--
<!doctype html>                                                                 -->
{% load static %}                                                               
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Charcoallog - Financial Manager" />
    <title>Charcoallog</title>
    <link rel="stylesheet" type="text/css" 
    href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
    <link rel="stylesheet" type="text/css"
    href="{% static 'css/styles.css' %}" />
    {# jquery for calendar and line3.html #}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      <script src="{% static 'django_csrf.js' %}"></script>
      <script src="{% static 'ajax_core.js' %}"></script>
      {# <script src="{% static 'click.js' %}"></script> #}
      <script>
        $( function() {
            $( "#datepicker" ).datepicker();
        } );
    </script>
  </head>
    <body>
      <div id="titulo">
	      {% block header %}{% endblock %}
	      {% if user.is_authenticated %}
	      <h6 align="left"> Hi {{ user.username }},
	      <a href="{% url 'accounts:logout' %}">sign out?</a>
          </h6>
          {% else %}
	          <!--<a href="{% url 'accounts:login' %}">sign in</a>-->
		      <a href="{% url 'accounts:register' %}">sign up</a>
	    	      <a href="" title="">forgot password</a>
	      {% endif %}
      </div>
      <div class="content">
              {% block content %}{% endblock %}
      </div>
      <div id="rodape">
          <br />
          <b>charcoallog released under GPL-3+</b>
      </div>
    </body>
</html>
