<!--
<!doctype html>                                                                 -->
{% load static %}                                                               
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Charcoallog - Financial Manager" />
    <title>Charcoallog</title>
    <link rel="stylesheet" type="text/css" 
    href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
    <link rel="stylesheet" type="text/css"
    href="{% static 'css/core_styles.css' %}" />
  </head>
    <body>
      <div id="titulo">
	      <h1>Charcoallog</h1>
	      {% if user.is_authenticated %}
	      <h6 align="left"> Hi {{ user.username }},
	      <a href="{% url 'accounts:logout' %}">sign out?</a> -
          <a href="{% url 'bank:home' %}">bank app</a> -
          <a href="#">investment app</a>
          </h6>
          {% else %}
	          <!--<a href="{% url 'accounts:login' %}">sign in</a>-->
		      <a href="{% url 'accounts:register' %}">sign up</a>
	    	      <a href="" title="">forgot password</a>
	      {% endif %}
      </div>
      <div class="content">
              {% block content %}{% endblock %}
      </div>
      <div id="rodape">
          <br />
          <b>charcoallog released under GPL-3+</b>
      </div>
    </body>
</html>
