beautifulsoup4==4.7.1
dj-static==0.0.6
Django==2.1.7
django-extensions==2.1.4
django-test-without-migrations==0.6
html5lib==1.0.1
python-decouple==3.1
pytz==2018.9
six==1.12.0
#static3==0.7.0
webencodings==0.5.1
amqp==2.4.0
billiard==3.5.0.5
celery==4.2.1
kombu==4.2.2.post1
vine==1.2.0

# DRF
certifi==2018.11.29
chardet==3.0.4
djangorestframework==3.9.1
html5lib==1.0.1
httpie==1.0.2
idna==2.8
Pygments==2.3.1
requests==2.21.0
urllib3==1.24.1
webencodings==0.5.1

# django-celery-beat
django-celery-beat==1.4.0
django-timezone-field==3.0
python-crontab==2.3.6
python-dateutil==2.7.5
