beautifulsoup4==4.6.0
dj-static==0.0.6
Django==1.11.13
django-extensions==2.0.6
django-test-without-migrations==0.6
html5lib==1.0.1
python-decouple==3.1
pytz==2017.3
six==1.11.0
#static3==0.7.0
webencodings==0.5.1
amqp==2.3.2
billiard==3.5.0.3
celery==4.1.1
kombu==4.2.0
vine==1.1.4
