beautifulsoup4==4.6.0
dj-static==0.0.6
Django==2.0.5
django-extensions==2.0.6
django-test-without-migrations==0.6
html5lib==1.0.1
python-decouple==3.1
pytz==2017.3
six==1.11.0
static3==0.7.0
webencodings==0.5.1
