<div>
	<form method="post">
		{% csrf_token %}
        {{ show_data.form1.editextracform.non_field_errors }}

		<div class="form-group">
			{{ form.date.errors }}
			<input type="date" name="date"
				   class="form-control form-control-sm" placeholder="date"
				   required>
		</div>
		<div class="form-group">
			{{ form.money.errors }}
			<input type="text" name="money" id="money"
				   class="form-control form-control-sm" placeholder="money"
				   required>
		</div>
		<div class="form-group">
			{{ form.description.errors }}
			<input type="text" name="description" id="description"
				   class="form-control form-control-sm" placeholder="description"
				   required>
		</div>
		<div class="form-group">
			{{ form.category.errors }}
			<input type="text" name="category" id="category"
				   class="form-control form-control-sm" placeholder="category"
				   required>
		</div>
		<div class="form-group">
			{{ form.payment.errors }}
			<input type="text" name="payment" id="payment"
				   class="form-control form-control-sm" placeholder="payment"
				   required>
		</div>





			{# {{ show_data.form1.editextractform.money }} #}
			{# {{ show_data.form1.editextractform.description }} #}
			{# {{ show_data.form1.editextractform.category }} #}
			{# {{ show_data.form1.editextractform.payment }} #}
			{{ show_data.form1.editextractform.errors }}
			{# <button type='submit'>Submit</button> #}
	        <button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>

