<div id="bank_box_line3" class="scroll">
	{% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	 	{% endfor %}
	    </ul>
	{% else %}
        <br />
        <b>Total</b>:
        <div id="total">
            {% if show_data.form2.query_default.total.money__sum < 0 %}
            <font color="red">
                {{ show_data.form2.query_default.total.money__sum }}
            </font>
            {% else %}
                {{ show_data.form2.query_default.total.money__sum }}

            {% endif %}
        </div>
        <br />
        <div class="container bg-white">
            <ul class="nav nav-pills">
                <li class="nav-item nav-link text-muted"><small>date</small></li>
                <li class="nav-item nav-link text-muted"><small>money</small></li>
                <li class="nav-item nav-link text-muted"><small>despcription</small></li>
                <li class="nav-item nav-link text-muted"><small>category</small></li>
                <li class="nav-item nav-link text-muted"><small>payment</small></li>
                <li class="nav-item nav-link text-muted"><small>upadate</small></li>
                <li class="nav-item nav-link text-muted"><small>send</small></li>
            </ul>
        </div>


        {% for b in show_data.form2.query_default %}
        <form method="post" id="{{ b.id }}">
        {% csrf_token %}
        <div class="form-inline m-0 p-0">

        <table>
            <tr>
                <td>
                    <input type="hidden" name="pk" id="id" value="{{ b.id }}" />
                </td>
                <td>
                    <input type="date" id="date" name="date"
                           class="form-inline m-0 p-0 bg-light"
                           size="11" style="font-size:10px;border:none"
                           value='{{ b.date|date:"Y-m-d" }}' readonly>
                </td>
                <td>
                    <input type="text" id="money" name="money" id="id_money"
                           class="form-inline m-0 p-0 bg-light"
                           size="11"
                           {% if b.money < 0 %} style="font-size:10px;color:red;border:none"
                           {% else %} style="font-size:10px;border:none"
                           {% endif %}
                           value="{{ b.money }}" readonly>
                </td>
                <td>
                    <input type="text" id="description" name="description"
                           class="form-inline m-0 p-0 bg-light"
                           size="15" style="font-size:10px;border:none"
                           value="{{ b.description }}" readonly>
                </td>
                <td>
                    <input type="text" id="category" name="category"
                           class="form-inline m-0 p-0 bg-light"
                           size="15" style="font-size:10px;border:none"
                           value="{{ b.category }}" readonly>
                </td>
                <td>
                    <input type="text" id="payment" name="payment"
                           class="form-inline m-0 p-0 bg-light"
                           size="15" style="font-size:10px;border:none"
                           value="{{ b.payment }}" readonly>
                </td>
                <td>
                    <input type='checkbox' id='checkbox' value='update' name='update'>update
                <td>
                    <font size="2">
                    {# tem que colocar uma identificação aqui no botao #}
                    {# ou usar o inverso de .parent(s) do JS #}
                    <button type='submit' style="font-size:9px" >Delete</button>
		            </font>
                </td>
            </tr>
        </table>
        </div>
    </form>
    {% endfor %}
    <br />

    {% endif %}
</div>
