{% extends "base.html" %}                                                       
                                                                                
{% block content %}
<div class="pure-g-r content-ribbon">
  <div class="pure-u-1">
	  <h2></h2>
    <form class="pure-form pure-form-aligned" method="post">
    {% csrf_token %}
    <fieldset>
      {{ form.non_field_errors }}

      {% for field in form %}
      <div align="center" class="pure-control-group">
	      <ul>
		      {{ field.label_tag }}
		      {{ field }}
		      {{ field.errors }}
	      </ul>
      </div>
      {% endfor %}

      <div align="center" class="pure-controls">
        <button type="submit" class="pure-button pure-button-primary">
		Submit
	</button>
      </div>
    </fieldset>
    </form>
  </div>                                                                      
</div>                                                                          
{% endblock %}    
