{% extends "blank.html" %}
{% load static %}

{% block content %}
		<div class="py-5" style="height:80vh">
			<div class="container">
				<div class="row">
					<div class="col-md-3 align-self-left">
						<div class="container">
							{% include 'bank/frameset_pages/form1.html' %}
						</div>
						<div class="container"></div>
						<div class="container">
							{% include 'bank/frameset_pages/form2.html' %}
						</div>
					</div>
					<div class="col-md-9">
						<div class="container">
                            <div class="row">
								{% include 'bank/frameset_pages/line1.html' %}
							</div>
						</div>
						<div class="container">
							<div class="row justify-content-center align-center m-0 bg-light">
								{% include 'bank/frameset_pages/line3.html' %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
{% endblock %}

{% block head_javascript %}
{# ajax files for line3.html #}
{# <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> #}
{# <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> #}
{# <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> #}
<script type="text/javascript" src="{% static 'django_csrf.js' %}"></script>
<script type="text/javascript" src="{% static 'ajax_core.js' %}"></script>
{% endblock %}

