<!DOCTYPE html>
{% load static %}
<head>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet"
        type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css"
      href="{% static 'investments/css/theme.css' %}" />
   <link rel="stylesheet" type="text/css"
      href="{% static 'investments/css/theme.scss' %}" />
  <title>Charcoallog</title>
</head>
<body>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="nav nav-pills">
            {% if user.is_authenticated %}
            <li class="nav-item">
              Hi {{ user.username }},
            </li>
            <li class="nav-item">
              <a href="{% url 'core:home' %}" class="active nav-link">
                <i class="fa fa-home fa-home"></i>&nbsp;Initial</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'bank:home' %}" class="nav-link">bank</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'investments:home' %}" class="nav-link">investments</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'accounts:logout' %}" class="nav-link">sign out</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a href="{% url 'accounts:logout' %}">sign out</a>
            </li>
            <li class="nav-item">
            <a href="" title="">forgot password</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  {% block content %}{% endblock %}
  <!-- footer -->
  <div class="container">
    <div class="row">
      <div class="col-md-12 mt-3 text-center">
        <p class="filter-light">Charcoalog License - GPL-3+</p>
      </div>
    </div>
  </div>
  <!--</div>-->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
        $( function() {
            $( "#datepicker" ).datepicker();
        } );
  </script>

</body>
</html>