{% extends "blank.html" %}
{% load static %}

{% block content %}
<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3 align-self-left">
                <div class="container">
                    raw view - method post in it
                    {% include 'investments/detail_frameset/detail_form1.html' %}
                </div>
                <div class="container"></div>
                <div class="container">
                    form a ser implementado
                    {% include 'investments/frameset_pages/form2.html' %}
                </div>
            </div>
            <div class="col-md-9">
                <div class="container">
                <div class="row">
                    a ser implementado
                    {% include 'investments/frameset_pages/line1.html' %}
                </div>
		</div>
		<div class="container">
                <div class="row justify-content-center align-center m-0 bg-light">
                    <div class="container bg-white">
                        <ul class="nav nav-pills">
                            <li class="nav-item nav-link text-muted"><small>date</small></li>
                            <li class="nav-item nav-link text-muted"><small>money</small></li>
                            <li class="nav-item nav-link text-muted"><small>kind</small></li>
                            <li class="nav-item nav-link text-muted"><small>which target</small></li>
                            <li class="nav-item nav-link text-muted"><small>segment</small></li>
                            <li class="nav-item nav-link text-muted"><small>tx_or_price</small></li>
                            <li class="nav-item nav-link text-muted"><small>quant</small></li>
                        </ul>
                    </div>

                    {# there is no API for that yet #}
                    {# VUE build this fine. That's all #}
                    <div class="scroll" id="vue_ajax_detail">
                    {% for item in d %}
                        <form @submit.prevent="submitForm({{ item.pk }}, {{ item.basic_data.money }}, $event)" id="{{ item.pk }}">
                            {% csrf_token %}
                            <all-detail-forms
                                    pk="{{ item.pk }}"
                                    date="{{ item.basic_data.date|date:'Y-m-d' }}"
                                    money="{{ item.basic_data.money }}"
                                    kind="{{ item.basic_data.kind }}"
                                    which_target="{{ item.which_target }}"
                                    segment="{{ item.segment }}"
                                    tx_or_price="{{ item.tx_or_price }}"
                                    quant="{{ item.quant }}"
                            ></all-detail-forms>
                        </form>
                    {% endfor %}
                    </div>
                </div>
		</div>
    </div>
</div>
{% endblock %}

{% block head_javascript %}
<script src="https://unpkg.com/vue@2.5.17/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="{% static 'ajax_vue_for_details.js' %}"></script>
{% endblock %}