{% extends "blank.html" %}
{% load static %}

{% block content %}
<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3 align-self-left">
                <div class="container">
                    {% include 'investments/frameset_pages/form1.html' %}
                </div>
                <div class="container"></div>
                <div class="container">
                    {% include 'investments/frameset_pages/form2.html' %}
                </div>
            </div>
            <div class="col-md-9">
                <div class="container">
                <div class="row">
                    {% include 'investments/frameset_pages/line1.html' %}
                </div>
		</div>
		<div class="container">
                <div class="row justify-content-center align-center m-0 bg-light">
                    {% include 'investments/frameset_pages/line3.html' %}
                </div>
		</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block head_javascript %}
<script src="https://unpkg.com/vue@2.5.17/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="{% static 'ajax_vue.js' %}"></script>
<script src="{% static 'invest_form1_vue.js' %}"></script>

{# <script src="{% static 'django_csrf.js' %}"></script> #}

{% endblock %}
