<style>
  .span-is-link {
    text-decoration: none;
    cursor: pointer;
    color: #0000EE;
    margin-left: 7px;
  }
</style>

<div id="box_line3" class="scroll">
  <b>Total</b>:
  <div id="total">
  </div>
  {% if object_list %}
    <table class="pure-table" align="center" style="background-color: #fff">
      <thead>
        <tr>
          <th>Date</th>
          <th>Money</th>
          <th>Description</th>
          <th>Category</th>
          <th>Payment</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for obj in object_list %}
          <tr>
            <td>{{ obj.date|date:"c" }}</td>
            <td>{{ obj.money }}</td>
            <td>{{ obj.description }}</td>
            <td>{{ obj.category }}</td>
            <td>{{ obj.payment }}</td>
            <td>
              <span class="span-is-link"><i class="fa fa-edit"></i></span>
              <span class="span-is-link"><i class="fa fa-close"></i></span>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <font color="red">Nothing for these dates or invalid search.</font>
  {% endif %}
</div>