<!-- Antes da Trilha 12:57:33 --><!-- Depois da Trilha 12:57:33 --><!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xml:lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" lang="pt-br"><head>
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<meta http-equiv="Content-Language" content="pt-br">

<link rel="shortcut icon" href="/imagens/shorticon.gif" type="image/x-icon" />

<link rel="stylesheet" type="text/css" href="/ncss/style.css">
<link rel="stylesheet" type="text/css" href="/ncss/style_menu.css" media="screen">
<link rel="stylesheet" type="text/css" href="/ncss/jquery-ui-1.8.6.custom.css">
<link rel="stylesheet" type="text/css" href="/ncss/style_icone.css" />

<script type="text/javascript" src="/njs/nuclear.js"></script>
<script type="text/javascript" src="https://www.bcb.gov.br/Paginas/js/libs/jquery/1.11.2/jquery.js"></script>
<script type="text/javascript" src="/njs/jquery.cycle.all.min.js"></script>
<script type="text/javascript" src="/njs/jquery-ui-1.8.6.custom.min.js"></script>
<script type="text/javascript" src="https://www.bcb.gov.br/Paginas/js/core/bcb.analytics.js"></script>
<script type="text/javascript" src="https://www.bcb.gov.br/Paginas/js/libs/angularjs/1.3.14/angular.min.js"></script>

<script type="text/javascript">
 
  $(document).ready(function () {
	finiciar();
	trackGA(document.title);
  });

</script>


<noscript>

</noscript>



 
<base href="//www.bcb.gov.br/Pec/Copom/Port/taxaSelic.asp" >
<title>Hist&oacute;rico das taxas de juros</title>

<base href="http://www.bcb.gov.br/Pec/Copom/Port/taxaSelic.asp">

<script type="text/javascript">


  	var t_idioma = "P";


</script>
<meta name="TAG_ID" content="COPOMJUROS"/>
<meta name="TAG_DATA_PUBLICACAO" content="25/09/2003" />
</head>
<body>

<!-- Zona se Salto - DosVOX -->

<DIV class="noindex">
<ul id="salto">
     <li><a title="" accesskey="1" href="/.">Página principal do site</a></li>
     <li><a title="" accesskey="2" href="/?NOTICIAS">Notícias</a></li>
     <li><a title="" accesskey="3" href="/?MAPA">Mapa do site</a></li>
     <li><a title="" accesskey="5" href="/?FAQCIDADAO">Perguntas Frequentes</a></li>
     <li><a title="" accesskey="6" href="/?AJUDA">Ajuda</a></li>
	 <li><a title="" accesskey="7" href="/?Ouvidoria">Ouvidoria</a></li>
     <li><a title="" accesskey="8" href="/?PRIVACIDADE">Política de privacidade</a></li>
     <li><a title="" accesskey="9" href="/?FALECONOSCO">Fale conosco</a></li>
     <li><a title="" accesskey="0" href="/?AJUDA#teclasdeatalho">Detalhes das teclas de atalho</a></li>
     <li><a title="" href="#ancoraInicio">Saltar para o início da página corrente</a></li>
     <li><a title="" href="#ancoraMenu">Saltar para o menu principal</a></li>
     <li><a title="" href="#ancoraConteudo">Saltar para o novo conteúdo</a></li>

</ul>
	<div id="barra-brasil" style="background:#7F7F7F; height: 20px; padding:0 0 0 10px;display:block;"> 
					<ul id="menu-barra-temp" style="list-style:none;">
								   <li style="display:inline; float:left;padding-right:10px; margin-right:10px; border-right:1px solid #EDEDED"><a href="http://brasil.gov.br" style="font-family:sans,sans-serif; text-decoration:none; color:white;">Portal do Governo Brasileiro</a></li> 
								   <li><a style="font-family:sans,sans-serif; text-decoration:none; color:white;" href="http://epwg.governoeletronico.gov.br/barra/atualize.html">Atualize sua Barra de Governo</a></li>
					</ul>
	</div>
</DIV>
  <div accesskey="i" class="wrap" name="ancoraInicio">
    <DIV class="noindex">
    <div id="barraSuperior" style="text-align: right; padding: 2px 0 2px 0; background-color: #DDDDDD;">
      	<a href="/?SOBREBC">Sobre a Instituição</a> |
        <a accesskey="5" href="/?FAQCIDADAO">Perguntas frequentes</a> | 
	<a href="/?GLOSSARIO">Glossário</a> | 
	<a accesskey="3" href="/?MAPA">Mapa do site</a> | 
	<a href="/?SISBACEN">Sisbacen</a> | 
	<a accesskey="9" href="/?FALECONOSCO">Fale conosco</a> | 
	<a href="/?LINKS">Links</a>
      | <i><a href="/?ENGLISH">English</a></i>
    </div>
    </DIV>

<script language="javascript">
function utf8_encode (argString) {
    // http://kevin.vanzonneveld.net
    // +   original by: Webtoolkit.info (http://www.webtoolkit.info/)
    // +   improved by: Kevin van Zonneveld (http://kevin.vanzonneveld.net)
    // +   improved by: sowberry
    // +    tweaked by: Jack
    // +   bugfixed by: Onno Marsman
    // +   improved by: Yves Sucaet
    // +   bugfixed by: Onno Marsman
    // +   bugfixed by: Ulrich
    // +   bugfixed by: Rafal Kukawski
    // +   improved by: kirilloid
    // *     example 1: utf8_encode('Kevin van Zonneveld');
    // *     returns 1: 'Kevin van Zonneveld'

    if (argString === null || typeof argString === "undefined") {
        return "";
    }

    var string = (argString + ''); // .replace(/\r\n/g, "\n").replace(/\r/g, "\n");
    var utftext = '',
        start, end, stringl = 0;

    start = end = 0;
    stringl = string.length;
    for (var n = 0; n < stringl; n++) {
        var c1 = string.charCodeAt(n);
        var enc = null;

        if (c1 < 128) {
            end++;
        } else if (c1 > 127 && c1 < 2048) {
            enc = String.fromCharCode((c1 >> 6) | 192, (c1 & 63) | 128);
        } else {
            enc = String.fromCharCode((c1 >> 12) | 224, ((c1 >> 6) & 63) | 128, (c1 & 63) | 128);
        }
        if (enc !== null) {
            if (end > start) {
                utftext += string.slice(start, end);
            }
            utftext += enc;
            start = end = n + 1;
        }
    }

    if (end > start) {
        utftext += string.slice(start, stringl);
    }

    return utftext;
}

function submeterBusca(consulta) {
	if(consulta && consulta != '')
		window.location = "/pt-br/#!/busca/" + encodeURIComponent(consulta.trim());
}
</script>
	
<DIV class="noindex">
    <div class="header">
    	<div id="linkLogo"><a accesskey="1" href="/" title="Ir para página inicial"><i>Início</i></a></div>
      <div class="search">
        <form method="get" id="busca" onsubmit="javascript:submeterBusca(consulta.value);">
          <fieldset>
            <label for="">
              Busca:</label>
    	    <input accesskey="4" name="consulta" id="consulta" size="26" class="txtfield" type="text" style="width: 170px;">
			<input name="pesquisar" value="submit" src="/imagens/bt_procurar.gif" class="bt_search" type="image"><br>
            <span class="busca_avancada"><a href="/pt-br/#!/buscaavancada" class="linkTitulos"
          title="Busca Avançada">Busca avan&ccedil;ada</a></span>
          </fieldset>
        </form>
      </div>
      <div id="data">
      </div>
      <div id="logoPrint"><img src="/imagens/logoPrint.jpg" width="242" height="55" alt="Logomarca BCB"></div>

<div accesskey="m" name="ancoraMenu" style="position: absolute; left:-9999px;"></div>

<!DOCTYPE html>
<html ng-app="appMenuSP">


<body>
<div ng-controller="MainCtrl" id="menunivel1" ng-cloak class="fixo clear">
<ul id="topo" class="fixo">
	<li ng-repeat="item in menu.Descendentes" on-last-repeat>
		<a href="{{item.Link.indexOf('http') > -1?item.Link:'/' + item.Link}}"><span class="spa1" id="isp{{$index+1}}">{{item.Titulo}}</span></a>
		<div class="latesq" id="kol{{$index}}">
			<ul ng-repeat="grupo in item.gruposFilhos">
				<li ng-repeat="subitem in grupo">
					<a href="{{subitem.Link.indexOf('http') > -1?subitem.Link:'/' + subitem.Link}}">{{subitem.Titulo}}</a>
				</li>
			</ul>
		</div>
	</li>
</ul>
</div>

<script>
	var appMenuSP; 

	(function() {
		appMenuSP = angular.module('appMenuSP', []);

		appMenuSP.directive('onLastRepeat', function() {
			return function(scope, element, attrs) {
				if (scope.$last) setTimeout(function(){
					scope.$emit('onRepeatLast', element, attrs);
				}, 1);
			};
		});
		
		appMenuSP.controller('MainCtrl', ['$scope', '$http', function($scope, $http) {
			$scope.$on('onRepeatLast', function(scope, element, attrs){
			  menu();
			  	if ((typeof(t_PaginaPrincipal)!="undefined") && (t_PaginaPrincipal) ) { 
                criar_menu_rodape();
			  }
			});
			var nomeArquivoJSONMenu = '/api/navegacao/pt-br/menu?niveis=2&server=asp';
			if ((typeof t_idioma !== 'undefined')&&(t_idioma == 'I')) {
				nomeArquivoJSONMenu = '/api/navegacao/pt-br/menu_en?niveis=2&server=asp';
			}
		    $http.get(nomeArquivoJSONMenu).success(function(response){
				$scope.menu = response.item;
				agruparFilhos($scope.menu, 5);
			});
		}]);
	})();
	
	function agruparFilhos (item, qtdeNoGrupo) {
		item.gruposFilhos = [];
		var indiceDoGrupo = 0;
		if ((typeof t_idioma !== 'undefined')&&(t_idioma == 'I')) {
			if (item.Link.indexOf('http') == -1)
			item.Link= "en/" + item.Link;
			//item.Link= "?" + item.ID;
		}
		if (item.Descendentes != null){
			for (var i = 0; i < item.Descendentes.length; i++) {
				var indiceNoGrupo = i % qtdeNoGrupo;
				if (indiceNoGrupo == 0) {
					item.gruposFilhos[indiceDoGrupo] = [];
				}
				
				item.gruposFilhos[indiceDoGrupo][indiceNoGrupo] = item.Descendentes[i];
				agruparFilhos(item.Descendentes[i], qtdeNoGrupo);
				
				if (indiceNoGrupo == qtdeNoGrupo-1) {
					indiceDoGrupo++;
				}
			}
		}
	}
</script>
</body>

</html></div>	<!--fim do header --></DIV> <!-- fim do noindex --><div name="ancoraConteudo" class="conteudo" accesskey="c"><div class="noindex trilha"> <!-- estrutura da trilha --><ul><li><a title="Início" href="/">Início</a>&nbsp;&raquo;&nbsp;</li>

<li><a title="Sistema de Metas para a Inflação" href="/#!/n/sismetas">Sistema de Metas para a Inflação</a>&nbsp;&raquo;&nbsp;</li>

<li><a title="Copom" href="/#!/n/copom">Copom</a>&nbsp;&raquo;&nbsp;</li>

<li>Hist&oacute;rico das taxas de juros</li>


&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</div> <div class="clear"></div> <!-- estrutura da trilha #FIM --><h1>Hist&oacute;rico das taxas de juros</h1>
<!--TAG_ID=COPOMJUROS;-->
<!--TAG_DATA_PUBLICACAO=2003-09-25;-->
<!--TAG_CONTEUDO_INICIO-->
<div style="clear: left; font-size: 60%;">&nbsp;</div>
  <!--conteudo-->

<!-- Esta linha foi comentada automaticamente para compatibilizar esta página com a nova versão do site - em 16/12/2010 =>  <LINK rel='stylesheet' type='text/css' href='/css/corpoInterno.css'> -->
<!-- Esta linha foi comentada automaticamente para compatibilizar esta página com a nova versão do site - em 16/12/2010 =>  <LINK rel='stylesheet' type='text/css' href='/css/Template.css'> -->

      	<div class="h4">Hist&oacute;rico das taxas de juros fixadas pelo Copom e evolu&ccedil;&atilde;o da taxa Selic</div>
<table cellspacing=1 cellpadding=2 summary="Hist&oacute;rico das taxas de juros fixadas pelo Copom e evolu&ccedil;&atilde;o da taxa Selic">
<!--Cabe&ccedil;alho In&iacute;cio -->
<tr class="fundoPadraoBClaro1 centralizado">
	<TH COLSPAN=3>Reuni&atilde;o</TH>
	<TH rowspan=2 abbr="vig&ecirc;ncia">Per&iacute;odo de vig&ecirc;ncia</TH>
	<Th rowspan=2>Meta SELIC<br><span class=textoPequeno>% a.a. <br><a title="notas" href="#notas">(1)(6)</a></span></TH>
	<Th rowspan=2>TBAN<span class=textoPequeno><br>% a.m. <br><a title="notas" href="#notas">(2)(6)</a></span></TH>
	<TH COLSPAN=2 class="fundoPadraoBEscuro3">Taxa SELIC</TH>
</tr>

<tr class="fundoPadraoBClaro1 centralizado">
	<TH class=textoPequeno>n&ordm;</Th>
	<TH class=textoPequeno>data</Th>
	<TH class=textoPequeno>vi&eacute;s</Th>
	<TH class="fundoPadraoBEscuro3"><span class=textoPequeno>% <a href="#notas" title="notas">(3)</a></span></Th>
	<TH class="fundoPadraoBEscuro3"><span class=textoPequeno>% a.a. <a title="notas" href="#notas">(4)</a></span></Th>
</tr>

<!--/Cabe&ccedil;alho Fim -->


	<tr class="fundoPadraoBClaro2" class="estilo_acess_8384">
      <TD class="estilo_acess_8385">&nbsp;213&ordf; <a href='#notas' title=""></a></TD>
      <TD>21/03/2018</TD>
      <TD><a title="" href="#notas"></a></TD>
      <TD class="centralizado">22/03/2018 - </TD>
      <TD class="centralizado">6,50</TD>
      <TD></TD>
	  <TD class="fundoPadraoBEscuro3 centralizado">
	  
	  </TD>
      <TD class="fundoPadraoBEscuro3 centralizado">
	  

	</TD>
	</tr>

	<tr class="fundoPadraoBClaro3" class="estilo_acess_8384">
      <TD class="estilo_acess_8385">&nbsp;212&ordf; <a href='#notas' title=""></a></TD>
      <TD>07/02/2018</TD>
      <TD><a title="" href="#notas"></a></TD>
      <TD class="centralizado">08/02/2018 - 21/03/2018</TD>
      <TD class="centralizado">6,75</TD>
      <TD></TD>
	  <TD class="fundoPadraoBEscuro3 centralizado">
	  0,72
	  </TD>
      <TD class="fundoPadraoBEscuro3 centralizado">
	  6,65

	</TD>
	</tr>

	<tr class="fundoPadraoBClaro2" class="estilo_acess_8384">
      <TD class="estilo_acess_8385">&nbsp;211&ordf; <a href='#notas' title=""></a></TD>
      <TD>06/12/2017</TD>
      <TD><a title="" href="#notas"></a></TD>
      <TD class="centralizado">07/12/2017 - 07/02/2018</TD>
      <TD class="centralizado">7,00</TD>
      <TD></TD>
	  <TD class="fundoPadraoBEscuro3 centralizado">
	  1,15
	  </TD>
      <TD class="fundoPadraoBEscuro3 centralizado">
	  6,90

	</TD>
	</tr>

	<tr class="fundoPadraoBClaro3" class="estilo_acess_8384">
      <TD class="estilo_acess_8385">&nbsp;210&ordf; <a href='#notas' title=""></a></TD>
      <TD>25/10/2017</TD>
      <TD><a title="" href="#notas"></a></TD>
      <TD class="centralizado">26/10/2017 - 06/12/2017</TD>
      <TD class="centralizado">7,50</TD>
      <TD></TD>
	  <TD class="fundoPadraoBEscuro3 centralizado">
	  0,80
	  </TD>
      <TD class="fundoPadraoBEscuro3 centralizado">
	  7,40

	</TD>
	</tr>

	<tr class="fundoPadraoBClaro2" class="estilo_acess_8384">
      <TD class="estilo_acess_8385">&nbsp;209&ordf; <a href='#notas' title=""></a></TD>
      <TD>06/09/2017</TD>
      <TD><a title="" href="#notas"></a></TD>
      <TD class="centralizado">08/09/2017 - 25/10/2017</TD>
      <TD class="centralizado">8,25</TD>
      <TD></TD>
	  <TD class="fundoPadraoBEscuro3 centralizado">
	  1,03
	  </TD>
      <TD class="fundoPadraoBEscuro3 centralizado">
	  8,15

	</TD>

</table><br>


<a name="notas"></a>
<div class="textopequeno">
(1) No per&iacute;odo de 1/7/96 a 4/3/99, o COPOM fixava a TBC e, a partir de 5/3/99, com a extin&ccedil;&atilde;o desta, passou a divulgar a meta para a Taxa SELIC para fins de pol&iacute;tica monet&aacute;ria.<br>
(2) A TBAN foi criada em 28/8/96 e extinta em 4/3/99.<br>
(3) Taxa de juros acumulada no per&iacute;odo.<br>
(4) Taxa m&eacute;dia di&aacute;ria de juros, anualizada com base em 252 dias &uacute;teis.<br>
(5) As taxas de juros fixadas na 17&ordf; reuni&atilde;o n&atilde;o entraram em vigor.<br>
(6) A partir de 2/01/98, as taxas de juros passaram a ser fixadas na express&atilde;o anual.<br>
&nbsp;<br>
<a name="convencao"></a>
Conven&ccedil;&atilde;o:<br>
ex. - Reuni&atilde;o Extraordin&aacute;ria <br>
baixa - Reuni&atilde;o em que a meta para a Taxa SELIC foi fixada com vi&eacute;s de baixa.<br>
alta - Reuni&atilde;o em que a meta para a Taxa SELIC foi fixada com vi&eacute;s de alta.<br>
vi&eacute;s - Utiliza&ccedil;&atilde;o da faculdade para alterar a meta para a Taxa SELIC entre reuni&otilde;es do COPOM.<br>
</div>

  <!--/conteudo-->

<!--TAG_CONTEUDO_FIM-->
<DIV class="noindex">
<div class="footer">
	<div style="width:190px;HEIGHT:60PX;float:left">
	      <a href="http://www.acessoainformacao.gov.br">
			   <img src="/imagens/acessoinformacao.png">
          </a>
    </div>	
	<div style="FLOAT:LEFT;vertical-align: middle;"><br>
	    <div>
		    Atendimento: 145 (custo de ligação local) | <a title="Ajuda" href="/?FALECONOSCO">Fale conosco</a> | <a title="Ajuda" href="/?AJUDA">Ajuda</a>&nbsp;
	    </div>
	    <div>
		    <a href="/?PRIVACIDADE" title="" tabindex="9"> Pol&iacute;tica de privacidade</a>&nbsp;| <a href="/?ACESSIBILIDADE" title="" tabindex="9">Pol&iacute;tica de acessibilidade</a>&nbsp;
		    &copy; Banco Central do Brasil - Todos os <a href="/?DIREITOSAUTOR">direitos reservados</a>
	    </div>
	</div>	
</div>
</DIV>
<script defer="defer" src="//www.bcb.gov.br/pt-br/paginas/js/barra-brasil.js" type="text/javascript"></script>