<form method="get" class="">
    <div class="form-group">
        <label></label>
        <input type="text" class="form-control form-control-sm" placeholder="search for">
    </div>
    <div class="form-group">
        {{ basic_data.date.errors }}
        <input type="date" name="from_date"
               class="form-control form-control-sm" placeholder="date"
               required="True">
    </div>
    <div class="form-group">
        {{ basic_data.date.errors }}
        <input type="date" name="to_date"
               class="form-control form-control-sm" placeholder="date"
               required="True">
    </div>





    <button type="submit" class="btn btn-primary">Submit</button>
</form>