<div class="col-md-12">
    <ul class="nav nav-pills border">
        {% for key, value in show_data.brief_investment.brokerage.items %}
            <li class="nav-item">
                <a class="nav-link" href="#">
                    {{ key }}<br>
                    {{ value }}
                </a>
            </li>
        {% endfor %}

        {% for key, value in show_data.brief_investment.kind_investmentdetail.items %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'investments:detail' key %}">
                    {{ key }}<br>
                    {{ value }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>