<div class="scroll" id="vue_ajax">
{% for b in show_data.methodget.query_default %}
    <form @submit.prevent="submitForm({{ b.pk }}, {{ b.basic_data.money }}, $event)" id="{{ b.pk }}">
        {% csrf_token %}
        <all-reg-forms
                pk="{{ b.pk }}"
                date="{{ b.basic_data.date|date:'Y-m-d' }}"
                money="{{ b.basic_data.money }}"
                kind="{{ b.basic_data.kind }}"
                which_target="{{ b.basic_data.which_target }}"
                tx_op="{{ b.tx_op }}"
                brokerage="{{ b.brokerage }}"
        ></all-reg-forms>
    </form>
{% endfor %}
</div>
