<div id="box_form2">
    <form method="get">
	{% csrf_token %}
	{{ get_form.non_field_errors }}
	<input id="id_user_name" type="hidden" name="user_name" value="{{ user.username }}">
	{{ get_form.column }}
	<!-- doesn't work, in use already-->
	<!-- <input type="text" id="datepicker" name="from_date" required="True"/> -->
	{{ get_form.from_date }}
	<!-- doesn't work, in use already -->
	<!-- <input type="text" id="datepicker" name="to_date" required="True"/> -->
	{{ get_form.to_date }}
	{{ get_form.errors }}
	<br />
	<button type='submit'>Submit</button>
    </form>
</div>

