<html>
	<head>
		<title>form1</title>
		<style type="text/css">
		body{
			background-color:#666;
		}
		#box {
			background:#CCC;
			width:90%;
			height:70%;
			margin: auto;
			padding:10px;
			text-align:center;
			-moz-border-radius:7px;
			-webkit-border-radius:7px;
			border-radius:7px;
		}
		</style>
	</head>
	<body>
		<div id="box">
			<form method="post" action={% url 'core:show_data' %} target="show_d">
			{% csrf_token %}
			{{ form.non_field_errors }}
			<input id="id_user_name" type="hidden" name="user_name" value="{{ user.username }}">
			{{ form.date }}
			{{ form.money }}
			{{ form.description }}
			{{ form.category }}
			{{ form.payment }}
			{{ form.errors }}
			<button type='submit'>Submit</button>
			</form>
		</div>
	</body>
</html>

