<div id="box_line3" class="scroll">
    <br />
    <table>
        <tr><td>Selic</td><td></td><td>Ibov</td><td></td><td>IPCA</td></tr>
        <tr>
            <td>
                {% for txt in build_home.selic_info %}
                    {{ txt }}
                    <br />
                {% endfor %}
            </td>
            <td>' '</td>
            <td>
                <table cellpadding="5">
                 {% for txt_col1, txt in build_home.ibov_info.items %}
                    <tr>
                        <td  align="left"> {{ txt_col1 }} </td>
                        {% for i in txt %}
                            <td align="right"> {{ i }} </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </table>
            </td>
            <td>' '</td>
            <td>
                ipca
            </td>
        </tr>
    </table>

	<br />
</div>
