<div id="box_line1">
	<table align="left" cellpadding="10">
            {# <tr> #}
			{#    {% for item in payment_list %} #}
			    {# <td><font size="2"><b>{{ item }}</b></font></td> #}
			    {# {% endfor %} #}
			    {# <td><font size="2"><b>what's left</b></font></td> #}
            {# </tr> #}
            <tr>
            {% for key, value in total_account.items %}
                <td align="center">
					<b>{{ key }}</b> <br>
					<div id="{{ key }}">
						{% if value.money__sum < 0 %}
						<font size="2" color="red">
							{{ value.money__sum }}
						</font>
						{% else %}
						<font size="2">
							{{ value.money__sum }}
						</font>
						{% endif %}
					</div>
		        </td>
            {% endfor %}
                <td align="center">
				<font size="2"><b>what's left</b></font> <br>
			    <font size="2">
			    {% if saldo < 0 %}
	                <font color="red">
				    {{ saldo }}
		            </font>
			    {% else %}
			        {{ saldo }}
			    {% endif %}
		        </font>
		        </td>
            </tr>
       </table>
</div>
