<div id="box_line1">
	<table align="left" cellpadding="10">
                <tr>
			{% for item in payment_list %}
			<td><font size="2"><b>{{ item }}</b></font></td>
			{% endfor %}
			<td><font size="2"><b>what's left</b></font></td>
                </tr>
                <tr>
            {% for total in total_account %}
                    <td align="center">
			    {% if total.money__sum < 0 %}
			    <font size="2" color="red">
				    {{ total.money__sum|floatformat:2 }}
		            </font>
		            {% else %}
			    <font size="2">
		    		    {{ total.money__sum|floatformat:2 }}
		            </font>
		            {% endif %}
		    </td>
            {% endfor %}
                    <td align="center">
			    <font size="2">
			    {% if saldo < 0 %}
	                    <font color="red">
				    {{ saldo|floatformat:2 }}
		            </font>
			    {% else %}
			            {{ saldo|floatformat:2 }}
			    {% endif %}
		            </font>
		    </td>
                </tr>
       </table>
</div>
