<div id="box_line3" class="scroll">
	{% if messages %}
	<ul class="messages">
		{% for message in messages %}
		{% if message.tags %}
            <li class="{{ message.tags }}">
        {% else%}
                <li>
        {% endif %}
                    {{ message }}</li>
		{% endfor %}
	</ul>
	{% else %}
        <br />
        <b>Total</b>:
        {% if total.money__sum < 0 %}
        <font color="red">
            {{ total.money__sum }}
        </font>
        {% else %}
            {{ total.money__sum }}
        {% endif %}
        <br />
        {% for b in bills %}
        <form method="post" id="update_form">
        {% csrf_token %}
        <table align="center" cellpadding="2">
            <tr>
                <td>
                    <input type="hidden" name="user_name" value="{{ b.user_name }}" />
                </td>
		<td>
			<input name="id" value="{{ b.id }}" disabled />
		</td>

                <td width="90">
			<font size="2">
                    {{ b.date|date:"Y-m-d" }}
                    <input type="hidden" name="date" value='{{ b.date|date:"Y-m-d" }}' />
			</font>
                </td>
                <td width="90">
                    {% if b.money < 0 %}
                        <font color="red">
                            {{ b.money }}
                        </font>
                    {% else %}
                        {{ b.money }}
                    {% endif %}
                    <input type="hidden" name="money" value="{{ b.money }}" />
                </td>
                <td width="90">
		    <font size="2">
                    {{ b.description }}
                    <input type="hidden" name="description" value="{{ b.description }}" />
		    </font>
                </td>
                <td width="90">
		    <font size="2">
                    {{ b.category }}
                    <input type="hidden" name="category" value="{{ b.category }}" />
		    </font>
                </td>
                <td width="90">
			<font size="2">
                    {{ b.payment }}
                    <input type="hidden" name="payment" value="{{ b.payment }}" />
			</font>
                </td>
                <td>
                    <input type="hidden" name="remove" value="True" />
		    <font size="2">
                    <button type="submit">Remove</button>
		    </font>
                </td>
            </tr>
        </table>
    </form>
    {% endfor %}
	<br />
	{% endif %}
</div>
