<div id="box_line1">
	<table align="left" cellpadding="10">
            <tr>
            {% for key, value in show_data.line1.account_names.items %}
                <td align="center">
					<b>{{ key }}</b> <br>
					<div id="{{ key }}">
						{% if value.money__sum < 0 %}
						<font size="2" color="red">
							{{ value.money__sum }}
						</font>
						{% else %}
						<font size="2">
							{{ value.money__sum }}
						</font>
						{% endif %}
					</div>
		        </td>
            {% endfor %}
                <td align="center">
				<font size="2"><b>what's left</b></font> <br>
			    <div id="left">
					<font size="2">
			    {% if show_data.line1.whats_left < 0 %}
	                <font color="red">
				    {{ show_data.line1.whats_left }}
		            </font>
			    {% else %}
			        {{ show_data.line1.whats_left }}
			    {% endif %}
		        </font>
				</div>
		        </td>
            </tr>
       </table>
</div>
