<html>
	<head>
		<meta http-equiv="refresh" content="2">
		<title>contas</title>
	</head>
	<body>
		<center>
			<p>contas e saldo</p>
            <table>
                <tr>
			{% for item in payment_list %}
                    <td>{{ item }}</td>
			{% endfor %}
                    <td>saldo</td>
                </tr>
                <tr>
            {% for total in total_account %}
                    <td>{{ total.money__sum }}</td>
            {% endfor %}
                    <td>{{ saldo }}</td>
                </tr>
            </table>
		</center>
	</body>
</html>
