<html>
	<head>
		<title>row2</title>
	</head>
	<FRAMESET COLS="20%, 80%" FRAMEBORDER="0">
		<frameset ROWS="50%,50%">
			<FRAME SRC="{% url 'core:form1' %}" NAME="superior">
			<FRAME SRC="{% url 'core:form2' %}" NAME="inferior">
		</frameset>
		<frameset ROWS="30%, 70%">
			<FRAME SRC="linha1.html" NORESIZE SCROLLING="NO">
			<!--
			<FRAME SRC="linha2.html" NORESIZE SCROLLING="NO">
			-->
			<FRAME SRC="{% url 'core:show_data' %}" NAME="show_d"
			NORESIZE SCROLLING="YES">
		</frameset>
		<noframes>
			<body>
			</body>
		</noframes>
	</FRAMESET>
</html>
